.todos{
    list-style-type: none;
}

.todos > li{
    margin-top: 8px;

    display: flex;
}

    .todos > li button{
        padding: 16px;
        border: none;
    }

    @keyframes doneFade{
        0%{opacity: 0;}
        100%{opacity: 1;}
    }
    
    .todos > li .done-btn{
        background: url("../../../check.svg") no-repeat 50% 50%;
    }
    .todos > li .done-btn.DONE{
        background: url("../../../donecheck.svg") no-repeat 50% 50%;
        animation: doneFade 500ms forwards;
    }
    .todos > li .content{
        flex: 1;
        text-indent: 1em;
    }
    .todos > li .del-btn{
        background: url(../../../delete.svg) no-repeat 50% 50%;
    }


